#paragraph{
	padding:20px;
}

.sidebar{
	padding-top: 65px;
}

.icons{
	max-width: 100%;
	max-height: 70%; 

}

.footer{
	clear:both;
	padding-top: 25px;
}

.pfooter{
	padding-bottom: 20px;
	font-size: 110%;
}

.textbox{
	height: 100px;
	clear: both;
}

li{
	padding-top: 15px;
}

.portfolioImg{
	padding-top: 20px;
	padding-bottom: 20px;
}	

.projectname{
	width: 200px;
	height: 40px;
	background-color: #df691a;
	position: relative;
	top:-70px;
	/*right: -73px;*/
	text-align: center;
	color: #ffffff;
	padding-top: 10px;
}
